/* TITLE */
.mobileapp-title {
  font-size: 1.9rem;
  font-weight: 800;
  color: #0d121b;
  letter-spacing: -0.01em;
}

@media (min-width: 768px) {
  .mobileapp-title {
    font-size: 2.3rem;
  }
}

.dark .mobileapp-title {
  color: white;
}

/* TEXT */
.mobileapp-text {
  color: #6b7280;
  font-size: 1.1rem;
  line-height: 1.7;
}

.dark .mobileapp-text {
  color: #b0b0b0;
}

/* IMAGE */
.mobileapp-image {
  border-radius: 0.9rem;
    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.0);
}
