.mobileapp-title {
  font-size: 2rem;
  font-weight: 700;
  color: #0d121b;
}

.dark .mobileapp-title {
  color: white;
}

@media (min-width: 640px) {
  .mobileapp-title {
    font-size: 2.25rem;
  }
}

@media (min-width: 768px) {
  .mobileapp-title {
    font-size: 2.5rem;
  }
}

.mobileapp-text {
  color: #6b7280;
  font-size: 1.1rem;
  line-height: 1.65;
}

.dark .mobileapp-text {
  color: #9ca3af;
}

.mobileapp-image {
  border-radius: 0.75rem;
  box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.05);
}
