/* TITLE */
.webplatform-title {
  font-size: 1.9rem;
  font-weight: 800;
  color: #0d121b;
  letter-spacing: -0.01em;
}

@media (min-width: 768px) {
  .webplatform-title {
    font-size: 2.3rem;
  }
}

.dark .webplatform-title {
  color: white;
}

/* TEXT */
.webplatform-text {
  color: #6b7280;
  font-size: 1.1rem;
  line-height: 1.7;
}

.dark .webplatform-text {
  color: #b0b0b0;
}

/* IMAGE */
.webplatform-image {
  border-radius: 0.9rem;
  box-shadow: 0px 8px 22px rgba(0, 0, 0, 0.06);
}
